.overflow-scroll-wrap {
    overflow: hidden;
    position: relative;
}

.overflow-scroller {
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    padding-bottom: 2rem;
}

::-webkit-scrollbar {
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #c5b4b4;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

.overflow-scroller__container {
    white-space: nowrap;
    display: flex;
}

.overflow-scroller__product {
    flex-basis: max(30rem, 27%);
    flex-shrink: 0;
}

.overflow-scroller__product:last-child {
    /* margin-right: 8rem; */
}

.overflow-scroller__product-slider {
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border: 0;
}

.overflow-scroll-wrap .btn {
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 3px 3px black;
    cursor: pointer;
    position: absolute;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.overflow-scroll-wrap .btn:active {
    box-shadow: none;
}

.overflow-scroll-wrap .btn.arrow--left {
    left: 1rem;
}

.overflow-scroll-wrap .btn.arrow--right {
    right: 1rem;
}

.overflow-scroller__scatter .overflow-scroller__product:nth-of-type(2n + 1) {
    position: relative;
    bottom: 30px;
}

.overflow-scroller__product {
    padding-left: 40px;
}

.overflow-scroller__product:first-child {
    margin-left: 30px;
}

.overflow-scroller__product-link {
    text-decoration: none;
    color: rgb(var(--color-link));
}

.overflow-scroller__product-content {
    text-align: center;
    white-space: normal;

}

.overflow-scroller__product-title {
    font-weight: bold;
    font-size: 1.6rem;
}

.product-slider {
    height: max(30rem, calc(100vw / 100 * 27)); 
    position: relative;
}

.product-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product-slide:not(:only-child) {
    opacity: 0;
}

.product-slide.active {
    opacity: 1;
}

.product-slide img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.overflow-scroller__product-slider .progress-bar {
    margin-bottom: .5rem;
    height: 3px;
    background-color: transparent;
    width: 100%;
    position: relative;
}

.overflow-scroller__product-slider .progress-amount {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: black;
}

.overflow-scroller[data-product-image-scatter="true"] .overflow-scroller__product:nth-child(2n) {
    padding-top: 30px;
}

.overflow-scroller[data-type-product-capitalize="true"] .grid-product__title {
    text-transform: uppercase;
}

.featured-collection-slider .btn svg {
    width: 1.5rem;
}

.featured-collection-slider .btn.arrow--left svg {
    transform: scaleX(-1);
}