.collection {
    --color-main: #536162;
    display: flex;
    align-items: flex-start;
}

/* FILTERS*/

.collection__filters {
    color: var(--color-main);
    padding: 5rem 3rem;
    background-color: var(--color-foreground);
    margin-right: 2rem;
    width: max(30rem, 20%);
}

#FacetFiltersForm {
    display: flex;
    flex-direction: column;
}

.filters__heading {
    display: flex;
    align-items: center;
}

.js-filter:not(:first-child) .filters__heading {
    position: relative;
    margin-top: 3rem;
}

.filters__heading {
    margin-bottom: 1rem;
}

.filters__heading facet-remove  {
    margin-left: auto;
    margin-bottom: 0;
}

.filters__heading svg {
    width: 1.5rem;
}

.filter__label {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filter__list-item:not(:last-child) {
    margin-bottom: .5rem;
}

.facets__selected {
    border-radius: 50%;
    position: absolute;
    top: 0;
    padding: .5rem;
    line-height: 16px;
    
}

/* Checkbox */

.filter__checkbox {
    position: relative;
    display: block;
    cursor: pointer;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.filter__checkmark {
    border: 1px solid #fff; 
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .2s ease-in;
}

.select--sort-by select,
.filters__price input {
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: .75rem .75rem;
}

/* Select */

.select--sort-by select {
   
    transition: border-color .2s ease-in;
}

.select--sort-by .facet-filters__sort + .icon-caret {
    transform: rotate(-90deg);
    transition: transform .2s ease-in;
}

.select--sort-by .facet-filters__sort + .icon-caret {
    right: .75rem;
}
.filters__price input:focus,
.filters__price input:focus-visible,
.select--sort-by select:focus,
.select--sort-by select:focus-visible {
    border-color:#536162;
    box-shadow: none;
    outline: none;
    padding: none;
}

.select--sort-by select:focus + .icon-caret,
.select--sort-by select:focus-visible + .icon-caret {
    transform: rotate(0deg);
}

/* Price Field */

.filters__price {
    display: flex;
    align-items: center;
}

.filters__price-separator {
    margin: 0 1rem;
    font-size: 1.75rem;
    line-height: 1;
}

.filters__price input {
    box-shadow: none;
}

.filters__price label {
    font-size: 1.4rem;
}

.js-filter {
    order: 0;
}

.js-filter-price {
    order: 1;
}

@media only screen and (max-width: 750px) {
    .collection {
        flex-direction: column;
        align-items: center;
    }

    .collection-filters {
        background-color: transparent;
        height: max-content;
        flex-basis: 100%;
        min-width: 100%;
    }

    .products-filters-form {
        display: none;
    }
}

.collection-products {
    position: relative;
}

.products-container {
    flex: 1;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    grid-row-gap: 6rem;
}

/* 1300px */
@media only screen and (max-width: 81.25rem) { 
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 4rem;
    }
}

.collection-products .loading-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    padding: 0 5rem;
    background-color: rgba(var(--color-background), 0.7);
}
  
.collection-products.loading .loading-overlay {
    display: block;
}

/* Active Filters */

.active-filters {
    display: flex;
    gap: 1rem;
}

facet-remove {
    margin-bottom: 2rem;
}

facet-remove:only-child {
    display: none;
}

.active-filter__button {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    color: currentColor;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 30px;
    font-size: 1.2rem;
    padding: .5rem 1.5rem;
}

.active-filter__label .icon-close-small {
    position: relative;
    top: 2px;
    left: 2px;
}


@keyframes scaleHeight {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}