.collection {
    --color-main: #536162;
    display: flex;
    align-items: flex-start;
}

.collection__filters {
    color: var(--color-main);
    padding: 2rem 3rem;
    background-color: var(--color-foreground);
    margin-right: 2rem;
    width: max(30rem, 20%);
}

.filters__heading {
    display: flex;
    align-items: center;
}

.filters__heading {
    margin: 2rem 0 1rem;
}

.filters__heading facet-remove  {
    margin-left: auto;
    margin-bottom: 0;
}

.filters__heading svg {
    width: 1.5rem;
}

.filter__label {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filter__list-item:not(:last-child) {
    margin-bottom: .5rem;
}

.facets__selected {
    position: absolute;
}

@media only screen and (max-width: 750px) {
    .collection {
        flex-direction: column;
        align-items: center;
    }

    .collection-filters {
        background-color: transparent;
        height: max-content;
        flex-basis: 100%;
        min-width: 100%;
    }

    .products-filters-form {
        display: none;
    }
}

.filter__group-title {
    color: var(--color-main);
    font-size: 2.3rem;
    font-weight: 600;
    width: max-content;
    margin: .5rem 0;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
}

.filter__group {
    margin-bottom: 5rem;
}

.filter__group--sort-by select {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;
    padding: .8rem .5rem;
    margin-top: .5rem;
}

.filter__list {
    list-style: none;
}

.filter__list-item {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 

.filter__checkbox {
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 50%;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    transition: all .2s;
}

.filter__checkbox:hover:not([data-disabled="true"]):not(.active) {
    background-color: rgba(243, 244, 237, .4)
}

.filter__checkbox.active {
    background-color: #eee;
} */

.filter__group--price {
    order: 1;
}

.selection-count {
    background-color: #536162;
    border-radius: 50%;
    color: #fff;
    font-size: 0.9rem;
    width: 2rem;
    height: 2rem;
    /* position: absolute;
    left: 100%;
    top: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.selection-count:empty {
    visibility: hidden;
}

.collection-products {
    position: relative;
}


.products-container {
    flex: 1;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    grid-row-gap: 6rem;
}

/* 1300px */
@media only screen and (max-width: 81.25rem) { 
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 4rem;
    }
}

.price-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.price-fields svg {
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}

.price-field {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #B2B1B9;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    width: 100%;
}

.price-field__input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--color-main);
    outline: none;
    font-size: 1.5rem;
    flex: 1;
}

.price-field__input::placeholder {
    color: var(--color-main);
}

.price-field__input:focus,
.price-field__input:active {
    box-shadow: none;
    border: none;
    outline: none;
}
 
.price-field__currency {
    font-size: 1.5rem;
    margin-right: .2rem;
}

.collection-products .loading-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    padding: 0 5rem;
    background-color: rgba(var(--color-background), 0.7);
}
  
.collection-products.loading .loading-overlay {
    display: block;
}

/* Active Filters */

.active-filters {
    display: flex;
    gap: 1rem;
}

facet-remove {
    margin-bottom: 2rem;
}

facet-remove:only-child {
    display: none;
}

.active-filter__button {
    display: inline-block;
    color: currentColor;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 30px;
    font-size: 1.2rem;
    padding: .5rem 1.5rem;
}

.active-filter__label .icon-close-small {
    position: relative;
    top: 2px;
    left: 2px;
}


@keyframes scaleHeight {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}